* {box-sizing: border-box;}

.my-container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay {
  position: absolute; 
  bottom: 0;
  top: 0; 
  /* background: rgb(0, 0, 0); */
  background: rgba(0, 0, 0, 0.7); /* Black see-through */
  /* color: #f1f1f1;  */
  width: 100%;
  transition: .5s ease;
  opacity:0.7;
  /* color: white; */
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.my-container:hover .overlay {
  opacity: 1;
}
